<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="Ενεργειακά Τζάκια, Ενεργειακό Τζάκι, Τζάκια, Σόμπες, Σόμπα, Καθαρισμός Καμινάδας, Καθαρισμός καπνοδόχου,">
  <meta name="description" content="Ψάχνετε ενεργειακό τζάκι ή σόμπα? Αναζητείτε κάποιον να σας καθαρίσει την καμινάδα? Θερμοοικονομική - λιανική και χονδρική πώληση όπως και υπηρεσίες καθαρισμού καπνοδόχων.">
  <title>{{ page.title }}</title>
  <link href="/css/site.css" rel="stylesheet" type="text/css" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8762827-2', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="two-col">
  <div id="container">
    <div id='header'>
      <div id='logoLink'>
        <h1><a href="/">Θερμοοικονομική</a></h1>
      </div>
      <div id='logoSloganContainer'>
        <div id='logoSlogan'>
          Ενεργειακά τζάκια, σόμπες και υπηρεσίες καθαρισμού καμινάδων
        </div>
      </div>
      <ul class="topnav">
        <li id="home">
          <a href="/">Αρχική</a>
        </li>
        <li id="company">
          <a href="/company">Εταιρεία</a>
        </li>
        <li id="services">
          <a href="/services">Υπηρεσίες</a>
        </li>
        <li id="qa">
          <a href="/qa">Συχν. Ερωτήσεις</a>
        </li>
        <li id="contact">
          <a href="/contact">Επικοινωνία</a>
        </li>
      </ul>

    </div>


    <div id="full-content">
      {{ content }}
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>